.App {
  min-height: 100vh;
}

.House-cell {
  width: 10vh;
  height: 10vh;
  border: 1px dotted gray;
  margin: 0;
  padding: 0;
}

.House-title {
  font-size: 8vh;
  margin-bottom: 2vh;
  color: rgb(25, 25, 230);
}

.House-score {
  border: 2px solid black;
  margin-bottom: 1vh;
  font-size: 4vh;
  color: yellow;
  background-color: black;
}

.House-main {
  border: 1px solid blue;
  background-color: #996633;
  background-image: url('../img/floorPlan.PNG');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: url('../img/Cursor/man.png'), auto;
}

.House-plot {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: lightgreen;
  background-image: url('../img/grasstile.png');
  background-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.House-cell div {
  height: 100%;
  width: 100%;

  font-size: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  user-select: none;
}

.Sink {
  color: white;
}
