.Highscore-table {
    display: inline-block;
    padding-top: 0px;
    font-size: 0.83em;
}

.instructions {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.menu-center {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.menu-button {
    min-width: 216px;
}

.team {
    padding-top: 50px;
}